@font-face {
    font-family: "Garamond Regular";
    src:
      url("fonts/GARA.TTF");
    font-weight: regular;
  }

@font-face {
    font-family: "Garamond Bold";
    src:
      url("fonts/GARABD.TTF");
    font-weight: bold;
  }

@font-face {
    font-family: "Garamond Italic";
    src:
      url("fonts/GARAIT.TTF");
    font-weight: italic;
  }

#container {
  width: 100vw;
  height: 100vh;
  cursor: url("assets/cursor.png"), auto;
  position: relative;
}

a {
  text-decoration: none;
  color: white;
}

#bg {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

body {
   /* background-image: url("assets/bg.gif");
    background-repeat: no-repeat;
    background-size: 1920px 1080px;
    background-position: center -70px;*/
    font-family: "Garamond Regular";
    overflow: hidden;
    margin: 0;
}

#info {
  position: absolute;
  width: 300px;
  font-size: 20px;
  z-index: 2;
  background: red;
  color: white;
  font-family: Garamond Bold;
  top: 200px;
}

#info:hover {
  cursor: none;
}


#about {
  margin: 0;
}

.show {
  display: none;
}

@media screen and (max-width:600px) {
  #bg {
    width: 150%;
    object-fit: contain;
    left: -95px;
  }
  #info {
    width: 200px;
  }

  html, body {
    margin: 0;
    overflow: hidden;
  }

  body {
    position: relative;
  }
}

@media screen and (max-height:600px) {
  #info {
    width: 400px;
  }

  html, body {
    margin: 0;
    overflow: hidden;
  }

  body {
    position: relative;
  }
}

