@font-face {
    font-family: "Garamond Regular";
    src:
      url("fonts/GARA.TTF");
    font-weight: regular;
  }

@font-face {
    font-family: "Garamond Bold";
    src:
      url("fonts/GARABD.TTF");
    font-weight: bold;
  }

@font-face {
    font-family: "Garamond Italic";
    src:
      url("fonts/GARAIT.TTF");
    font-weight: italic;
  }

#container {
  width: 100vw;
  height: 100vh;
  cursor: url("assets/cursor.png"), auto;
  position: relative;
}

#bg {
  position: relative;
  top: -75px;
}

body {
   /* background-image: url("assets/bg.gif");
    background-repeat: no-repeat;
    background-size: 1920px 1080px;
    background-position: center -70px;*/
    font-family: "Garamond Regular";
    overflow: hidden;
    margin: 0;
}

#info {
  position: absolute;
  width: 300px;
  font-size: 20px;
  z-index: 2;
  background: red;
  color: white;
  font-family: Garamond Bold;
  top: 200px;
}

#about {
  margin: 0;
}

.show {
  display: none;
}

@media screen and (max-width:980px) {
  #bg {
    width: 100%;
    top: 25%;
  }
}

